---
import Site from "../layouts/Site.astro";
import "@/styles/tailwind.css";
---

<Site>
  <section class="prose dark:prose-invert">
    <h1>About</h1>
    <p>This is My Site. Built with Astro + React and deployed to GitHub Pages.</p>
  </section>
</Site>

